@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

/* Variables */
:root {
  --bg-primary: #4b5563;
  --borders: #252525;
  --shadows: #303030;

  --bg-podekex: #d30a40;
  --bg-screen: #e3e3e3;
  --bg-input-screen: #5fc480;
  --bg-information-screen: #ced3c6;

  --border-balls: #f4f3f2;
  --bg-ball-1: #12bbd2;
  --bg-ball-2: #e50319;
  --bg-ball-3: #e7ed69;
  --bg-ball-4: #acf556;

  --btn-color: #2c2c2c;

  --text-dark: #252525;
  --text-light: #f4f0f9;
}

/* Global Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
  letter-spacing: calc(0.1em + 0.05rem);
  font-family: "Pokemon Solid", sans-serif;
}

body {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-hover:hover {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-width: 850px;
  height: 600px;
}

/* Screen Side */
.screen-side {
  background-color: var(--bg-podekex);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 100%;
  border: 5px solid var(--borders);
  border-radius: 20px 0px 0px 20px;
  box-shadow: -10px 10px 5px 5px var(--shadows);
  z-index: 100;
}

.top {
  display: flex;
  align-items: start;
  gap: 5px;
  width: 100%;
  height: 15%;
  padding: 20px;
  border-bottom: 3px solid var(--borders);
  box-shadow: 0px 5px 10px var(--shadows);
}

.ball-1 {
  background-color: var(--bg-ball-1);
  width: 50px;
  height: 50px;
  border: 5px solid var(--border-balls);
  border-radius: 50%;
  animation: ball-glowing infinite linear 2s;
}
.ball-2 {
  background-color: var(--bg-ball-2);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.ball-3 {
  background-color: var(--bg-ball-3);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.ball-4 {
  background-color: var(--bg-ball-4);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
@keyframes ball-glowing {
  0% {
    box-shadow: 0 0 2px 0px var(--bg-ball-1), 0 0 10px 0px #0ff;
  }
  50% {
    box-shadow: 0 0 4px 0px var(--bg-ball-1), 0 0 20px 0px #0ff;
  }
  100% {
    box-shadow: 0 0 2px 0px var(--bg-ball-1), 0 0 10px 0px #0ff;
  }
}

.bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  padding: 20px;
}

.screen {
  background-color: var(--bg-screen);
  height: 80%;
  padding: 20px;
  border: 3px solid var(--borders);
  border-radius: 10px;
}

.screen-background {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border: 3px solid var(--borders);
  border-radius: 10px;
  background-image: url("./assets/Pokedex\ Screen\ Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.screen-sprite {
  scale: 2;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.btn-search {
  background-color: var(--btn-color);
  width: 60px;
  height: 60px;
  padding-bottom: 10px;
  border: none;
  border-radius: 50%;
  outline: none;
  box-shadow: -1px 1px 1px 2px #080206;
  color: var(--text-light);
  font-size: 1.5rem;
}

.input-search {
  background-color: var(--bg-input-screen);
  width: 80%;
  height: 80%;
  padding: 0px 10px;
  border: 3px solid var(--borders);
  border-radius: 10px;
  outline: none;
  font-size: 1.5rem;
}

/* Information Side */
.information-side {
  background-color: var(--bg-podekex);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 450px;
  height: 85%;
  padding: 20px;
  border: 5px solid var(--borders);
  border-radius: 0px 20px 20px 0px;
  box-shadow: -10px 10px 5px 5px var(--shadows);
}

.pokemon-informations {
  background-color: var(--bg-information-screen);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 70%;
  padding: 20px;
  border: 3px solid var(--borders);
  border-radius: 10px;
  color: var(--text-dark);
}

.pokemon-informations-name {
  padding: 3px;
  border-bottom: 2px solid var(--borders);
  color: var(--text-dark);
}

.pokemon-informations-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0px;
  margin: 10px 0px;
}
.pokemon-informations-stats p {
  min-width: 50%;
}

.pokemon-information-misc {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0px;
  color: var(--text-dark);
}

.pokemon-types {
  background-color: var(--bg-information-screen);
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 10px;
  min-height: 70px;
  border: 3px solid var(--borders);
  border-radius: 10px;
}

/* Buttons Actions */
.btns-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 15%;
}

.btn {
  width: 50%;
  padding: 0.25rem;
  border: 3px solid var(--borders);
  border-radius: 10px;
}

.custom-alert {
  background-color: var(--bg-screen);
  position: absolute;
  top: -100px;
  padding: 20px;
  margin-top: 20px;
  border: 3px solid var(--borders);
  border-radius: 10px;
  color: var(--text-dark);
  transition: top 0.6s;
}
